In [19]:
import pandas as pd
import numpy as np

home_value_df = pd.read_csv('Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
home_value_forecast_df = pd.read_csv('Metro_zhvf_growth_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')
adidas_sale_df = pd.read_excel('Adidas US Sales Datasets.xlsx', index_col=0 ,header=4)

In [25]:
home_value_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 895 entries, 0 to 894
Columns: 294 entries, RegionID to 2024-01-31
dtypes: float64(289), int64(2), object(3)
memory usage: 2.0+ MB

In [4]:
home_value_forecast_df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,BaseDate,2024-02-29,2024-04-30,2025-01-31
0,102001,0,United States,country,NaN,2024-01-31,0.2,1.0,4.2
1,394913,1,"New York, NY",msa,NY,2024-01-31,0.4,1.1,2.2
2,753899,2,"Los Angeles, CA",msa,CA,2024-01-31,-0.4,-1.3,1.9
3,394463,3,"Chicago, IL",msa,IL,2024-01-31,0.4,1.6,3.1
4,394514,4,"Dallas, TX",msa,TX,2024-01-31,0.1,1.0,4.4

In [20]:
adidas_sale_df.head(20)

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
NaN,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
NaN,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
NaN,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
NaN,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
NaN,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store
NaN,Foot Locker,1185732,2020-01-06,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25,In-store
NaN,Foot Locker,1185732,2020-01-07,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50,In-store
NaN,Foot Locker,1185732,2020-01-08,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30,Outlet
NaN,Foot Locker,1185732,2020-01-21,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35,Outlet
NaN,Foot Locker,1185732,2020-01-22,Northeast,New York,New York,Women's Athletic Footwear,45.0,825,371250.0,129937.5,0.35,Outlet
NaN,Foot Locker,1185732,2020-01-23,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,Outlet
NaN,Foot Locker,1185732,2020-01-24,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25,Outlet
NaN,Foot Locker,1185732,2020-01-25,Northeast,New York,New York,Men's Street Footwear,50.0,1220,610000.0,305000.0,0.50,Outlet
NaN,Foot Locker,1185732,2020-01-26,Northeast,New York,New York,Men's Athletic Footwear,50.0,925,462500.0,138750.0,0.30,Outlet
NaN,Foot Locker,1185732,2020-01-27,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35,Outlet
NaN,Foot Locker,1185732,2020-01-28,Northeast,New York,New York,Women's Athletic Footwear,45.0,800,360000.0,126000.0,0.35,Outlet
NaN,Foot Locker,1185732,2020-01-29,Northeast,New York,New York,Men's Apparel,60.0,850,510000.0,153000.0,0.30,Outlet
NaN,Foot Locker,1185732,2020-01-30,Northeast,New York,New York,Women's Apparel,50.0,950,475000.0,118750.0,0.25,Outlet
NaN,Foot Locker,1185732,2020-01-31,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,Outlet
NaN,Foot Locker,1185732,2020-02-01,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30,Outlet